/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 100px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
td { padding: 8px; }

.simple_form {
	label {
	  float: left;
		width: 100px;
		text-align: right;
		margin: 2px 10px;
	}
	div.input {
		margin-bottom: 10px;
	}
	div.boolean {
		margin-left: 120px;
		label {
			float: none;
			margin: 0;
		}
	}
	input[type='submit'] {
		margin-left: 120px;
	}
	label.collection_radio {
		float: none;
		margin: 0;
		margin-right: 10px;
		margin-left: 2px;
	}
	.error {
		clear: left;
		margin-left: 120px;
		font-size: 12px;
		color: #D00;
		display: block;
	}
	.hint {
		clear: left;
		margin-left: 120px;
		font-size: 12px;
		color: #555;
		display: block;
		font-style: italic;
	}
}


@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");/*!
 * bootswatch v3.3.6
 * Homepage: http://bootswatch.com
 * Copyright 2012-2016 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*//*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
